<h1>My Bulk Discounts</h1>

<div id='discounts'>
<h3>Current Discounts</h3>
<%= link_to 'Create a new discount', new_merchant_bulk_discount_path(@merchant) %>
<ul>
<% @merchant.bulk_discounts.each do |discount| %>
  <li>
    "<%= discount.name %>":
    <%= number_to_percentage(discount.percentage, precision: 2) %>
    off of <%= discount.quantity %> or more items
  </li>
<% end %>
</ul>
</div>

<div id='upcoming-holidays'>
<h3>Upcoming Holidays</h3>
<% upcoming_holidays.each do |holiday| %>
  <%= holiday.name %> on <%= holiday.date %><br>
<% end %>
</div>
