<h1> Invoice #<%= @invoice.id %> </h1>

<p>Total Revenue: <%= number_to_currency(@invoice.total_revenue(@merchant.id)) %></p>
<h3>Revenue after discounts: <%=  %></h3>

<ul>
  <li>Invoice Status: <%= @invoice.status %> </li>
  <li>Created At: <%= @invoice.created_at.strftime("%A, %B %-d, %Y") %> </li>
  <li>Customer: <%= @customer.first_name %> <%= @customer.last_name %></li>
</ul>

<% @invoice.invoice_items.each do |invoice_item| %>
  <h3><%= invoice_item.item.name %> - <%= invoice_item.item.id %><br></h3>
  Price: <%= number_to_currency(invoice_item.item.unit_price / 100.0) %><br>

  Quantity: <%= invoice_item.quantity %><br>
  <div id="id-<%=invoice_item.id%>">
    <%= form_with url: "/merchants/#{@merchant.id}/invoices/#{@invoice.id}", method: :patch, local: true do |f| %>
      <%= f.label :status, "Status:" %>
      <%= f.select :status, ["packaged", "pending", "shipped"], selected:invoice_item.status %><br>
      <%= f.button "Update Item Status", type: "submit", name: "invoice_item_id", value: "#{invoice_item.id}" %>
    <% end %>
  </div>
<% end %>


