<!DOCTYPE html>
<html>
  <head>
    <title>LittleEtsyShop</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <section>
      <h1>Little Esty Shop</h1>
      <p>
      <%= link_to "Merchants Index", "/merchants" %> //
      <%= link_to "Admins Index", "/admin" %>
      </p>
      <hr>
    </section>

    <% flash.each do |type, message| %>
      <p><%= message %></p>
    <% end %>

    <%= yield %>

    <hr>
    <section>
    <h4>GitHub</h4>
      <p>
      GitHub Repository:
      <%# <%= link_to repository.name, "https://github.com/haewonito/#{repository.name}" %><br> %>
      Github Users:
      <ol>
      <%# <% users.each do |user| %> %>
        <%# <li><%= link_to user.login, "https://github.com/#{user.login}" %> -
        <%# <%= user.contributions %> commits</li> %> %>
      <%# <% end %> %>
      <ol>
      </p>
    </section>
  </body>
</html>
