<!DOCTYPE html>
<html>
  <head>
    <title>LittleEtsyShop</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'styles', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <container>
      <%= render 'layouts/navbar' %>
    </container>

    <% flash.each do |type, message| %>
      <p><%= message %></p>
    <% end %>

    <%= yield %>
  </body>

  <footer class="py-5 bg-dark">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-6 m-0 text-start text-white">
          Original Project Contributors:
          <ul>
            <li><%= link_to 'Sam Devine', 'https://github.com/samueldevine' %></li>
            <li><%= link_to 'Christian Valesares', 'https://github.com/cvalesares' %></li>
            <li><%= link_to 'Haewon Jeon', 'https://github.com/haewonito' %></li>
            <li><%= link_to 'Micha Bernhard', 'https://github.com/michab17' %></li>
          </ul>
        </div>
        <div class="col-md-6 m-0 text-start text-white">
          GitHub Repository:<br>
          <!-- <%= link_to repository.name, "https://github.com/samueldevine/#{repository.name}" %> -->
          <%= link_to 'Bulk Discounts', 'https://github.com/samueldevine/bulk-discounts' %><br><br>
          Bulk Discounts and Styling:<br>
          <%= link_to 'Sam Devine', 'https://github.com/samueldevine' %>
        </div>
      </div>
    </div>
  </footer>
</html>
